@font-face {
  font-family: 'ProximaNova';
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.eot');
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.woff2') format('woff2'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.ttf') format('truetype'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.eot');
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.woff2') format('woff2'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.ttf') format('truetype'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.svg#ProximaNova-Bold') format('svg'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.eot');
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.woff2') format('woff2'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.ttf') format('truetype'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.eot');
  src: url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.woff2') format('woff2'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.ttf') format('truetype'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'), url('https://cdn2.hubspot.net/hubfs/1590785/OMG%20Website/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}